.contenedor {
    width:90%;
    max-width: 1000 px;
    margin: auto;
    background-color: rgb(255, 247, 230);

    display: flex;
    flex-flow: row wrap;
}

header {
       background:rgb(255, 204, 102);
       width:100%;
       padding:20px;

       /* Flexbox */
       display: flex;
       justify-content:space-between;
       align-items:center;

       flex-direction:row;
       flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:60px;
  font-family: 'Bowlby One SC', cursive;
}

header .logo img {
	width:150px;
	vertical-align: top;

}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:150px;

}

header nav {
  width: 100%;
  display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;
  font-family: 'Kodchasan', sans-serif;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#e74c3c;
}

.principal {
	background:rgb(255, 247, 230);
	padding:20px;

	flex:1 1 40%;
	/*flex:1;*/
}

.principal article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
  font-family: 'Poppins', sans-serif;
}

.principal article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

footer {
	background:rgb(255, 204, 102);
	width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

.contenedor_galeria {
   display: flex;
   width: 100%;
   justify-content: space-around;
   flex-wrap: wrap;
   max-width: 1000px;
   margin: auto;
}

.galeriaimg {
   width: 300px;
   height:500px;
   margin-bottom: 30px;
   object-fit: cover;
   filter: brightness(70%);
}

.contenedor_adopta {
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.view_moreinfo {
 font-size: 20px;
 font-family: 'Poppins', sans-serif;
}
